<ol class="breadcrumb">
  <li>
    <a href="#">Home</a>
  </li>
  <li class="active">Menu Access</li>
</ol>
<div class="panel panel-primary">
  <div class=panel-heading>
    <h3 class=panel-title>List Menu Access</h3>
  </div>
  <div class=panel-body>
    <table class="table">
      <thead>
        <th>#</th>
        <th>Role Code</th>
        <th>Role Name</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>RO0001</td>
          <td>Administrator</td>
          <td>31/03/2018</td>
          <td>Administrator</td>
          <td>
            <span><a href="/menuaccess"><i class="far fa-edit"></i></a></span>
            <span><a href="/menuaccess"><i class="far fa-trash-alt"></i></a></span>
            <span><a href="/menuaccess"><i class="fas fa-eye"></i></a></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>