<div class="container theme-showcase" role="main">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="favicon.ico" class="logo">
        </a>
        <span class="navbar-brand">Mini Project</span>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/employees">Employee</a>
        </li>
      </ul>
    </div>
  </nav>
   <router-outlet></router-outlet> 
</div>